# Build
build/
dist/
node_modules/
.next/
out/

# IDE
.vscode/
.idea/

# ESP-IDF / PlatformIO
sdkconfig.old
managed_components/
.pio/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Env / Secrets
.env
.env.local
.env*.local
secrets.txt
